$color-main:#dc4921;

// ここから下は使用するか微妙
$color-primary: #7EA0BB;
$color-primary-ink: #0b1a26;

$color-bg: #ffffff;
$color-surface: #f7f8fa;
$color-text: #222;
$color-muted: #6b7280;

$color-border: #e5e7eb;
$color-danger: #ef4444;