$font-family: ui-sans-serif, system-ui, -apple-system, "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-20: 20px;

$line-1: 1.2;
$line-2: 1.5;